<mat-toolbar color='primary'>


    <mat-toolbar-row>
        <span routerLink='/blog' style="cursor: pointer;">Angular Blogspot</span>
        <span class="spacer" style="flex: 1 "></span>
        <div *ngIf="auth.afAuth.authState | async as user; else showLogin">
            <!-- <span>Hello {{user.displayName}}!</span> -->
            <button mat-flat-button color='accent' [routerLink]="['/dashboard']"
                routerLinkActive="router-link-active">Write a
                post</button>
            <button mat-button (click)="auth.logout()">Logout</button>

        </div>

        <ng-template #showLogin>
            <button mat-button (click)="auth.login()">Login</button>

        </ng-template>
    </mat-toolbar-row>

</mat-toolbar>